#draw{
    border-left: 2px outset black;
    border-right: 2px outset black;
}

/* Efecto de papel */
body {
    /*background: linear-gradient(#ccc, #fff);*/
    background: linear-gradient(#fff, #ccc);
    background-color: black;
   /* padding: 20px;*/
  }

  /* Credito */
  #credito {
    font-size:20px;
  }
  #credito img{
    box-shadow: rgb(80,80,80) 2px 2px 2px;
  }
  /* globales simulador*/

  #simulador h3{
    font-size:25px;
    color:rgb(10,10,10);
    text-shadow: rgb(25,25,25) 1px 1px 2px;
	  -moz-text-shadow: #336600 1px 1px 2px;
	  -ms-text-shadow: #336600 1px 1px 2px;
	  -o-text-shadow: rgb(25,25,25) 1px 1px 2px;
	  -webkit-text-shadow: rgb(25,25,25) 1px 1px 2px;
  }
  /* grid de seleccion */
 
  #canvas h4{
    font-size:25px;
  }
  
  /* ******************** */

  /* Modal */
  #instructionsModal .modal-body p{
    font-size:15px;
  }
  /* ********************** */
  .letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-size:12px;
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;
  }
  .letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }
 span .subtitles{
    color: "#CC3E14";
  }
  .container h3{
      font-size: 20px;
  }

  /* valores de render de datos */
  #pieSelectorValue{
    text-align: center;

  }
  .inputContainer{
    font-size: 19px;
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
  }

  .letter p{
    font-size:15px;
  }

  /* --------------------------------------------------- */
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }

  #canvas{
    font-size: 12px;
  }
